.form-table {clear:none !important;margin: 0;}
.submit{margin-top:0 !important;}
.postbox h3{cursor:default !important;}

form h3 {font-size: 1.1em !important;padding-top:0 !important;}
form td table tr th {font-size:13px !important;color:gray !important;}
form td {padding-top: 0 !important;}
form th[scope=row]{font-size:14px !important;font-weight:normal;}
form p {margin:0;}

.apdf_warning{border-left:4px solid #ffba00 !important;}
.apdf_note{border-left:4px solid #2ea2cc !important;}

.apdf_icon{background-image:url(sprite-icons.png?v=1.1);background-repeat:no-repeat;width:16px;height:16px;float:left;margin-right:5px;}
.apdf_wp{background-position: 0px 0px;}
.apdf_rate{background-position: -17px 0px;}
.apdf_help{cursor:help;padding:0px 3px;margin-left:6px;background:#c9c9c9;color:white;font-size:10px;font-family:Courier;font-weight:bold;border-radius:20px;}
.apdf_help:hover{background:#a1a4c9;}

.apdf_custom_list{list-style-type:disc;margin:0 10px 0px 15px}

.apdf_right{float:right;}
.apdf_small{font-size:smaller;}
.apdf_gray{color:gray;}
.apdf_red{color:red;}
.apdf_green{color:green;}
.apdf_highlighted{color:#caa100;border-bottom: 1px dotted #caa100;cursor:help;}

.apdf_number{width:40px;}
.apdf_reference_width{width:660px;}
